<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
	        <link rel="shortcut icon" type="image/png" href="@{'/public/images/Icon.png'}">
	        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>	     
	        <script src="@{'/public/javascripts/flot/jquery.flot.js'}" type="text/javascript" charset="utf-8"></script>
	        <script src="@{'/public/javascripts/scroll.js'}" type="text/javascript"></script>
	        <script src="@{'/public/javascripts/jquery.jCountr.1.2.js'}" type="text/javascript"></script>
			#{script 'validationScript.js' /}
	       	#{script 'jquery.highlightRegex.js' /}
	       	
	       	<script type="text/javascript">
				var userExists = #{jsAction @Application.userExists( ':username' ) /}
			</script>
	        
        #{get 'moreScripts' /}
    </head>
    <body>
    	<div id="main">
	    	<div id="main-right">
	    		#{if user}
					<div id="user">
						<div id="userImg"> <img src="${user.avatarPath}"/></div>
						<div>&{'register.username'}: ${user.username}</div>
						<div>&{'register.reputation'}: ${user.rating}</div>
						<a class="button" href="@{Users.myProfile(user.id)}">&{'profile'}</a>
						<a class="button" id="log" href="@{Secure.logout()}">&{'logout'}</a>
					</div>
					
					<div id="userActivity">
						<h4>&{'lastActivity'}</h4>
					
						#{if lastActivity}					
						<div class="activity">
							#{activity activity:lastActivity /}
						</div>
						#{/if}
					</div>
					#{if !user.canPost()}
						<div id="userActivity">
							<h4>&{'waitpost'}</h4>
								<div class="activity">							
									<script type="text/javascript">
											$(function() {
												var countdown = ${user.timeToNextPost()};
												$("#counter").counter({min:"0",sec:countdown});
											});
									</script> 
									<span id="counter"></span>
								</div>
						</div>
					#{/if}
					#{if !user.canSearch()}
						<div id="userActivity">
							<h4>&{'waitsearch'}</h4>
								<div class="activity">							
									<script type="text/javascript">
											$(function() {
												var countdown = ${user.timeToNextSearch()};
												$("#counter2").counter({min:"00",sec:countdown});
											});
									</script> 
									<span id="counter2"></span>
								</div>
						</div>
					#{/if}						
					#{if sameAnswerQuestions && !isSpam}
						<div id="proposals">
							<h4>&{'proposals'}</h4>
								#{list items:sameAnswerQuestions, as:'samequests'}
									<p><a href="@{Application.show(samequests.id)}">${samequests.title}</a></p>
								#{/list}	
						</div>
					#{/if}
					#{else}
						#{if sameQuestions}
						<div id="proposals">
							<h4>&{'proposals'}</h4>
								#{list items:sameQuestions, as:'samequests'}
									<p><a href="@{Application.show(samequests.id)}">${samequests.title}</a></p>
								#{/list}	
						</div>
						#{/if}
					#{/else}
					#{if isSpam}
						<div id="proposals">
							<h1><blink>&{'spamer'}</blink></h1>
						</div>
					
					#{/if}
				#{/if}
	
				#{ifnot user}
					<div id="mainLogin" >
						#{form @Secure.authenticate()}
							<div id="loginInputs">
								<label for="username">&{'secure.username'}</label>
								<input type="text" name="username" id="username" size="10" value="${flash.username}" />
							</div>
							<div id="loginInputs">
								<label for="password">&{'secure.password'}</label>
								<input type="password" name="password" id="password" size="10" value="" />
							</div>
							<div id="loginInputs">
								<input type="checkbox" name="remember" id="remember" size="10" value="true" ${flash.remember ? 'checked="true"' : ''} />
								<label for="remember">&{'secure.remember'}</label>
						
								<input type="submit" id="signin" value="&{'secure.signin'}" />
							</div>
						#{/form}			
						<div id="pulldownBackground">		
							#{pulldown}
    							#{form @Application.addUser()}
    							
    							<ul>
									<li id="loginInputs">&{'register.username'}: <input type="text" id="newusername" name="newusername" /></li>
	    							<li id="loginInputs">&{'register.email'}: <input type="text" id="email" name="email" /></li>
	    							<li id="loginInputs">&{'register.password1'}: <input type="password" id="newPassword" name="password" /></li>
	    							<li id="loginInputs">&{'register.password2'}: <input type="password" id="newPassword2" name="password2" /></li>
	    							<li id="loginInputs"> <label id="Captcha">Please type the code below: <img src="@{Application.captcha(randomID)}" /></label></li>
 								  	<li id="loginInputs"><input type="text" name="code" id="code" size="18" value="" /></li>
    								<li id="loginInputs"><input type="hidden" name="randomID" value="${randomID}" /></li>
	    							<li id="loginInputs"><input type="submit" id="register" value=&{'register.title'} /></li>
	    						</ul>
	    				
								#{/form}
    						#{/pulldown}
    					</div>
					</div>
					
				#{/ifnot}
				
				<div>
					#{if flash.error}
						<div class="error">
							&{flash.error}
						</div>
					#{/if}
					#{if flash.success}
						<div class="success">
							#{if user}
								&{flash.success, user.username}
							#{/if}
							#{ifnot user}
								&{flash.success}
							#{/ifnot}	
						</div>
					#{/if}
				</div>
			
	    	</div>
	    	<div id="main-left">
	    		<div id="banner">
	    			<a href="@{Application.index()}"><img src="@{'/public/images/Banner.png'}"/></a>
	    		</div>
	
				<div id="menu">
					<a class="button" href="@{Application.index()}">&{'home'}</a>
					#{secure.check 'user'}
						#{if !isSpam}
							<a class="button" href="@{Users.index()}">&{'newQuestion'}</a>
						#{/if}
					#{/secure.check}
					
					#{if get_permalink == questions}
						<a class="button" href="#answerForm">&{'addAnswer'}</a>
					#{/if}	
					#{secure.check 'admin'}
						<a class="button" href="@{Admin.index()}">Admin</a>
					#{/secure.check}
					
					<div id="search">
						#{form @Users.searchResults()}
							<input type="text" name="toSearch" id="toSearch"/>
							<input type="submit" value="&{'search'}" />
						#{/form}
					</div>
				</div>
	
				<div id="content">
				  	  #{doLayout /}
				</div>
			</div>	
		</div>
		<script type="text/javascript" src="/public/markdown/wmd.js"></script>
					
<div id="return_top">
	<a href="#main">&nbsp;</a>
</div>
    </body>
</html>
