#{extends 'main.html' /}
#{set title:'User Profile' /}


<div>

	<div id="tabMenu">
		#{secure.check 'user'}
		<a class="button" id="tab" href="@{Users.myProfile(user.id)}">My profile</a>
		<a class="button" id="tab" href="@{Users.myQuestions()}">My questions</a>
		<a class="button" id="tab" href="@{Users.myAnswers()}">My answers</a>
		<a class="button" id="tab" href="@{Users.myFollows()}">My follows</a>
		#{/secure.check}
	</div>
	
	<div id="profileContent">
		#{doLayout /}
	</div>
	
	
</div>