<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="${lang}" lang="${lang}">
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}" />
    </head>
    <body id="crud">
		
		<div id="crudHeader">
			<h1><a href="@{CRUD.index()}">&{'crud.title'}</a></h1>
		</div>
		
		#{if flash.success}
			<div class="crudFlash flashSuccess">
				${flash.success}
			</div>
		#{/if}

		<div id="report">
			<label> Report:
			${report.nl2br()}
		</div>

		<br>
		
		<div id="import">
			<label> Import more XML:
			<form action="@{Admin.importXML()}" method="POST" enctype="multipart/form-data">
				<table style="padding-left: 10px">
				<input type="file" id="xml" name="xml" />
				<input type="submit" value="Import" />
			</table>
			</form> 
		</div>		
		
		<a class="button" href="@{Admin.index()}">Back to adminpage</a>
				
	</body>
</html>