<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="${lang}" lang="${lang}">
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}" />
    </head>
    <body id="crud">
		
		<div id="crudHeader">
			<h1><a href="@{CRUD.index()}">Spamer</a></h1>
		</div>
		
		<style type="text/css">
			.spam { background: gold;}
		</style> 
		
		<div id="allUsers">
			<h2>All spamer in A4Q:</h2>
			#{if userList.isEmpty()}
				<label>No user marked as spamer</label><br>
			#{/if}
			#{else}
				#{list items:userList, as:'user'}
					<div class="user"><br>			
						<a class="spam" href="@{Users.showProfile(user.id)}">${user.username}</a> 
						<a>(${user.spamreport.size()} of his posts are marked as spams)</a><br>
						<a class="button" href="@{Admin.unspamUser(user.id)}">[unspam posts]</a>
						<a class="button" href="@{Admin.clearReputation(user.id)}">[clear reputation]</a>
						#{if user.spamLock}
							<a class="button" href="@{Admin.unlockUser(user.id)}">[unlock]</a>
						#{/if}
						#{else}
							<a class="button" href="@{Admin.lockUser(user.id)}">[lock]</a>
						#{/else}
		   			</div>
				#{/list}
			#{/else}
		</div>
		
		<br><div>Note: The [lock]-button will set the status of the specific user to "spamer", regardless the number of his spam-posts (analog for [unlock])</div>
		
		<br><a class="button" href="@{Admin.index()}">Back to adminpage</a>

	</body>
	
</html>