<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="${lang}" lang="${lang}">
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}" />
    </head>
    <body id="crud">
		
		<div id="crudHeader">
			<h1><a href="@{CRUD.index()}">All Spams</a></h1>
		</div>
		
		<style type="text/css">
			.spam { background: gold;}
		</style> 

		<div id="allQuestions">
			<h2>This questions are spams:</h2>
			#{if spamQuestion.isEmpty()}
				<label>No questions marked as spam</label><br>
			#{/if}
			#{else}
				#{list items:spamQuestion, as:'question'}
					<div class="question"><br>
						<a class="spam" href="@{Application.show(question.id)}">${question.getTitle()}</a>
						<a>(Author ${question.author.toString()}, who is actually a spamer: ${question.author.isSpam()})</a><br>
						<a class="button" href="@{Admin.unspamPost(question.id)}">[unspam]</a>
						<a class="button" href="@{Users.showEdit(question.id, question.historys.size()-1)}">[edit]</a>
		   			</div>
				#{/list}
			#{/else}
		</div>
		
		<br>
		
		<div id="allAnswers">
			<h2>This answers are spams:</h2>
			#{if spamAnswer.isEmpty()}
				<label>No answers marked as spam</label><br>
			#{/if}
			#{else}
				#{list items:spamAnswer, as:'answer'}
					<div class="answer"><br>
						<a class="spam">${answer.getBegin()}</a>
						<a>(Author ${answer.author.toString()}, who is actually a spamer: ${answer.author.isSpam()})</a><br>
						<a class="button" href="@{Admin.unspamPost(answer.id)}">[unspam]</a>
						<a class="button" href="@{Users.showEdit(answer.id, answer.historys.size()-1)}">[edit]</a>
						<a class="button" href="@{Application.show(answer.getQuestion().getId())}">[show context]</a>
	   				</div>
				#{/list}
			#{/else}
		</div>
		
		<br>
		
		<br><a class="button" href="@{Admin.index()}">Back to adminpage</a>
				
	</body>
</html>