#{extends 'main.html' /}
#{set title:'User administration' /}


#{secure.check 'user'}
<div class="form" id="questionForm">
	<form action="@{Users.createQuestion()}" method="POST" enctype="multipart/form-data">
		<table style="padding-left: 60px">
		
		#{ifErrors}
    	   	<p class="error">
       	   		All fields are required!
      	  	</p>
 	   	#{/ifErrors}
    	<input type="hidden" name="author" id="author" value="${user.fullname}" readonly/>
    	<p>
    		<label for="title">Title: </label>
    		<br>
    		<input type="text" name="title" id="title"/>
    	<p>
        	<label for="content">Your question: </label>
        	<br>
        	<textarea name="content"></textarea>
		
		<p>
		<input type="file" id="attachment" name="attachment" />

    	<p>
        	<input type="submit" value="Submit your question" />
    	</p>
	</table>
	</form> 
</div>
#{/ secure.check}

#{if flash.success}
	<br>
    <p class="success">${flash.success}</p>
#{/if}