#{extends 'main.html' /}
#{set title:'User administration' /}


#{secure.check 'user'}
<div class="form" id="questionForm">
	#{form @Users.createQuestion()}
		#{ifErrors}
    	   	<p class="error">
       	   		All fields are required!
      	  	</p>
 	   	#{/ifErrors}
    	<p>
        	<label for="author">Your fullname: </label>
        	<input type="text" name="author" id="author" value="${models.User.find("byEmail", controllers.Security.connected()).first().fullname}" readonly/>
    	</p>
    	<p>
    		<label for="title">Title: </label>
    		<br>
    		<input type="text" name="title" id="title"/>
    	</p>
    	<p>
        	<label for="content">Your question: </label>
        	<br>
        	<textarea name="content" id="content"></textarea>
    	</p>

    	<p>
        	<input type="submit" value="Submit your question" />
    	</p>
	#{/form}
	
	<form action="@{Application.uploadAttachment()}" method="POST" enctype="multipart/form-data">
		<table style="padding-left: 60px">
		<input type="file" id="attachment" name="attachment" />
		<input type="submit" value="Add attachment" />
	</table>
	</form> 
</div>
#{/ secure.check}

#{if flash.success}
	<br>
    <p class="success">${flash.success}</p>
#{/if}