#{extends 'profileMain.html' /}
#{set title:'My answers' /}

<br></br>
#{list items:answers, as:'answer'}
	<div class="answers">
		
		<div>
				<label>&{'myAnswer.answer'}</label> <a href="@{Application.show(answer.getQuestion().getId())}">${answer.getQuestion().getTitle()}</a> :
		</div>
		
		<div class="answer">
		
			<div class="voting">
				#{if answer.isBestAnswer}
					<div class="vote-curr-best">
						${answer.voting()}
					</div>
				#{/if}
				#{else}
					<div class="vote-curr">
						${answer.voting()}
					</div>
				#{/else}
			</div>
			
			<div class="author">
				<div id="question-buttons">
					#{secure.check 'user'}
						#{if answer.giveQuestion().author.hasTimeToChange(answer.giveQuestion().id)}
							<a class="button" href="@{Users.showEdit(answer.id, answer.historys.size()-1)}">&{'edit'}</a>
						#{/if}
						#{if answer.isBestAnswer}
							This is the best answer!
						#{/if}
					#{/secure.check}
				</div>
				<div class="answer-date">
					${answer.getDate()}
				</div>
				<div id="userImg">
					<img src="${answer.author.avatarPath}"/>
				</div>
				<a class="button" href="@{Users.showProfile(answer.author.id)}">${answer.author.fullname} (${answer.author.rating})</a>
			</div>
			
			<div class="content">
		       	${answer.content.raw()}
		   	</div>
			<div class="attachment" id="answer-attachment">
				#{if answer.attachmentPath != null}
					<a class="button" href="${answer.attachmentPath}">
						<img src="@{'/public/images/file.gif'}"/>
						Attachment
					</a>
				#{/if}
			</div>
			
			<div class="question-metadata">
				(&{'nrComments'}: ${answer.comments.size()})
			</div>
		</div>
	</div>
#{/list}
