#{extends 'profileMain.html' /}
#{set title:'My answers' /}


#{list items:answers, as:'answer'}
	<div class="question"> 
            <div class="answer">
                <div class="answer-metadata">
                    <span class="answer-date">
                         ${answer.timestamp}
                    </span>
                    <div class="answer-content">
        				<a href="@{Application.show(answer.findQuestion().id)}">${answer.content.raw()}</a>
        			</div>
        			
        			<div>
        			<table>
					<tr>
						<td>
						<div class="metadata" id="question-metadata">
						#{if answer.attachmentPath != null}
							<a class="button" href="${answer.attachmentPath}"> attachment</a>
						#{/if}
						</div>
						#{if answer.findQuestion().author.hasTimeToChange(answer.findQuestion().id)}
							#{form @Users.showEdit(answer.id, answer.historys.size()-1)}
								<input type="submit" value="Edit"/>
							#{/form}
						#{/if}
						</td>
					</tr>
					</table>
					
        			#{if !answer.findQuestion().author.hasTimeToChange(answer.findQuestion().id)}
        				The question for this answer is already closed!
        			#{/if}
        			
        			</div>	
	          
                 </div>
            </div>
    </div>
#{/list}
