#{extends 'profileMain.html' /}
#{set title:'My follows' /}


<div class="question">

	<div class="questionfollows">
		#{if !followQ.isEmpty()}
			&{'followQuestion'}:
		#{list items:followQ, as:'question'}
    	<div class="answers">
            <div class="answer">
				<a href="@{Application.show(question.id)}">${question.getTitle()}</a>
					<div id="answer-author" class="author">
						<div class="buttons" id="question-buttons">
        					<a class="button" href="@{Users.unfollowQuestion(question.id)}">
								<span>&{'unfollow'}</span>
							</a>
        				</div>
					</div>
           	</div>
    	</div>
    	#{/list}
		#{/if}
	
		#{else}
			&{'followNoQuestion'}
		#{/else}
	</div>

	</br>

	<div class="userfollows">
		#{if !followU.isEmpty()}
			&{'followUser'}:
		#{list items:followU, as:'user'}
    	<div class="answers">
        	<div class="answer">
        		<a href="@{Users.showProfile(user.id)}">${user.username}</a>
        			<div class="answer-author" class"author">
        				<div class="buttons" id="question-buttons">
        					<a class="button" href="@{Users.unfollowUser(user.id)}">
								<span>&{'unfollow'}</span>
							</a>
        				</div>
        			</div>
        	</div>
    	</div>
		#{/list}
		#{/if}
	
		#{else}
			&{'followNoUser'}
		#{/else}
	</div>
	
	
	
	
	<h3>&{'activities'}</h3>
	#{list items:activities, as:'activity'}
		<div class="activity">
		#{if activity.isQuestion()}
			A new question was asked <a class="button" href = "@{Application.show(activity.id)}">${activity.getTitle()}</a> (${activity.getDate()}).
		#{/if}
		#{if activity.isAnswer()}
			A new answer was added to a <a class="button" href = "@{Application.show(activity.findQuestion().id)}">question</a> (${activity.getDate()}).
		#{/if}
		#{if activity.isCommentAnswer()}
			A new comment was added to a answer from the <a class="button" href = "@{Application.show(activity.post.findQuestion().id)}">question</a> ${activity.post.findQuestion().title}  (${activity.getDate()}).
		#{/if}
		#{if activity.isCommentQuestion()}
			A new comment was added to the <a class="button" href = "@{Application.show(activity.post.id)}">question</a> ${activity.post.title} (${activity.getDate()}).
		#{/if}
		</div>
	#{/list}
	
</div>

