#{extends 'profileMain.html' /}
#{set title:'My follows' /}


<div class="question">

	<div class="questionfollows">
		#{if !followQ.isEmpty()}
			&{'follow.Question'}:
			#{list items:followQ, as:'question'}
		    	#{if !question.isSpam()}
			    	<div class="answers">
			            <div class="answer">
							<a href="@{Application.show(question.id)}">${question.getTitle()}</a>
								<div id="answer-author" class="author">
									<div class="buttons" id="question-buttons">
			        					<a class="button" href="@{Users.unfollowQuestion(question.id)}">
											<span>&{'unfollow'}</span>
										</a>
			        				</div>
								</div>
			           	</div>
			    	</div>
		    	#{/if}
			#{/list}
		#{/if}
	
		#{else}
			&{'follow.NoQuestion'}
		#{/else}
	</div>

	</br>

	<div class="userfollows">
		#{if !followU.isEmpty()}
			&{'follow.User'}:
		#{list items:followU, as:'user'}
    	<div class="answers">
        	<div class="answer">
        		<a href="@{Users.showProfile(user.id)}">${user.username}</a>
        			<div class="answer-author" class"author">
        				<div class="buttons" id="question-buttons">
        					<a class="button" href="@{Users.unfollowUser(user.id)}">
								<span>&{'unfollow'}</span>
							</a>
        				</div>
        			</div>
        	</div>
    	</div>
		#{/list}
		#{/if}
	
		#{else}
			&{'follow.NoUser'}
		#{/else}
	</div>
	
	
	
	
	<h3>&{'activities'}</h3>
	#{list items:activities, as:'activity'}
		<div class="activity">
			#{activity activity:activities /}
		</div>
	#{/list}
	
</div>

