#{extends 'profileMain.html' /}
#{set title:'User Profile' /}

#{secure.check 'user'}
<div class="form" id="userForm">
#{form @Users.changeProfile()}
	<div class="userInfo">
    	<label for="author">Fullname: </label>
		<input type="text" fullname="author" id="user-inp" value="${models.User.find("byEmail", controllers.Security.connected()).first().fullname}" readonly/>
    </div>

	<div class="userInfo">
		<label for="author">Email: </label>
		<input type="text" fullname="author" id="user-inp" value="${models.User.find("byEmail", controllers.Security.connected()).first().email}" readonly/>
	</div>
   
	<div class="userInfo">
		#{field 'birthday'}
			<label for="author">Birthday: </label>
			<input type="text" name="${field.name}" email="author" id="user-inp" value="${models.User.find("byEmail", controllers.Security.connected()).first().getBirthday()}" />
			<label for="content"></label>
		#{/field}
	</div>
	
	<div class="userInfo">
		<label for="author">Age: </label>
		<input type="text" fullname="author" id="user-inp" value="${models.User.find("byEmail", controllers.Security.connected()).first().calculateAge()}" readonly/>
	</div>
	
	<div class="userInfo">
		#{field 'website'}
			<label for="author">Website: </label>
			<input type="text" name="${field.name}" email="author" id="user-inp" value="${models.User.find("byEmail", controllers.Security.connected()).first().website}" />
			<label for="content"></label>
		#{/field}
	</div>

	<div class="userInfo">
		#{field 'work'}
			<label for="author">Work: </label>
			<input type="text" name="${field.name}" email="author" id="user-inp" value="${models.User.find("byEmail", controllers.Security.connected()).first().work}" />
			<label for="content"></label>
		#{/field}
	</div>
	
	<div class="userInfo">
		#{field 'languages'}
			<label for="author">Programming Languages: </label>
			<input type="text" name="${field.name}" email="author" id="user-inp" value="${models.User.find("byEmail", controllers.Security.connected()).first().favoriteLanguages}" />
			<label for="content"></label>
		#{/field}
	</div>
	
	<div class="userInfo">
		#{field 'aboutMe'}
			<label for="aboutMe">About Me: </label>
			<br>
			<textarea name="${field.name}">${models.User.find("byEmail", controllers.Security.connected()).first().aboutMe}</textarea>
		#{/field}
	</div>

	<div>
		<input type="submit" value="Update"/>
	</div>
	
</div>
#{/form}

<hr>

<div id="userProfile">
	<label> Upload an Avatar:
	<form action="@{Users.uploadAvatar()}" method="POST" enctype="multipart/form-data">
		<table style="padding-left: 60px">
		<input type="file" id="avatar" name="avatar" />
		<input type="submit" value="Upload" />
		</table>
	</form> 

	<br></br>
	
	#{form @Users.updateAvatarPath()}
		#{field 'URL'}
			<label for="author">or enter an URL:
			<input type="text" name="${field.name}" email="author" id="user-inp"/>
			<label for="content">
			<input type="submit" value="Submit" />
		#{/field}
	#{/form}
</div>

#{/ secure.check}

<hr>


<div id="userProfile">

	<h3>Activities</h3>
	#{list items:activities, as:'activity'}
			<div class="activity">
				#{if activity.checkInstance()}
					${activity.timestamp}, ${user.fullname} wrote a new <a href = "@{Application.show(activity.id)}">question</a>.
				#{/if}
				#{else}
				 ${activity.timestamp}, ${user.fullname} wrote a answer to the  <a href = "@{Application.show(activity.question.id)}"> question</a> from ${activity.author.fullname}
				#{/else}
			</div>
     #{/list}
    
	<h3>Reputation Graph</h3>

	<div id="graph">
		<div id="graphcanvas" style="width:600px;height:300px"></div>
	</div>


#{if flash.success}
<br>
	<p class="success">${flash.success}</p>
#{/if}