#{extends 'profileMain.html' /}
#{set title:'User Profile' /}

#{secure.check 'user'}
<div class="form" id="userForm">
#{form @Users.changeProfile()}
	<label for="author">Username: </label>
	<div class="userInfo">
		<input type="text" username="author" id="user-inp" value="${user.username}" readonly/>
    </div>

	<label for="author">Email: </label>
	<div class="userInfo">
		<input type="text" fullname="author" id="user-inp" value="${user.email}" readonly/>
	</div>
	
	<label for="author">Fullname: </label>
	<div class="userInfo">
		#{field 'fullname'}
			<input type="text" name="${field.name}" email="author" id="user-inp" value="${user.fullname}" />
			<label for="content"></label>
		#{/field}
	</div>
   
    <label for="author">Birthday: </label>
	<div class="userInfo">
		#{field 'birthday'}
			<input type="text" name="${field.name}" email="author" id="user-inp" value="${user.getBirthday()}" />
			<label for="content"></label>
		#{/field}
	</div>
	
	<label for="author">Age: </label>
	<div class="userInfo">
		<input type="text" fullname="author" id="user-inp" value="${user.calculateAge()}" readonly/>
	</div>
	
	<label for="author">Website: </label>
	<div class="userInfo">
		#{field 'website'}
			<input type="text" name="${field.name}" email="author" id="user-inp" value="${user.website}" />
			<label for="content"></label>
		#{/field}
	</div>

	<label for="author">Work: </label>
	<div class="userInfo">
		#{field 'work'}
			<input type="text" name="${field.name}" email="author" id="user-inp" value="${user.work}" />
			<label for="content"></label>
		#{/field}
	</div>
	
	<label for="author">Programming Languages: </label>
	<div class="userInfo">
		#{field 'languages'}
			<input type="text" name="${field.name}" email="author" id="user-inp" value="${user.favoriteLanguages}" />
			<label for="content"></label>
		#{/field}
	</div>
	
	<label for="aboutMe">About Me: </label>
	<div class="userInfo">
		#{field 'aboutMe'}
			<br>
			<textarea name="${field.name}">${user.aboutMe}</textarea>
		#{/field}
	</div>

	<div>
		<input type="submit" value="Update"/>
	</div>
	
</div>
#{/form}

<hr>

<div id="userProfile">
	<label> Upload an Avatar:
	<form action="@{Users.uploadAvatar()}" method="POST" enctype="multipart/form-data">
		<table style="padding-left: 60px">
		<input type="file" id="avatar" name="avatar" />
		<input type="submit" value="Upload" />
		</table>
	</form> 

	<br></br>
	
	#{form @Users.updateAvatarPath()}
		#{field 'URL'}
			<label for="author">or enter an URL:
			<input type="text" name="${field.name}" email="author" id="user-inp"/>
			<label for="content">
			<input type="submit" value="Submit" />
		#{/field}
	#{/form}
</div>

#{/ secure.check}

<hr>


<div id="userProfile">

	<h3>&{'activities'}</h3>
	#{list items:activities, as:'activity'}
			<div class="activity">
		
		#{activity activity:activity /}
			</div>
     #{/list}
    
	<h3>&{'repGraph'}</h3>

	<div id="graph">
		<div id="graphcanvas" style="width:600px;height:300px"></div>
	</div>

<script id="source" language="javascript" type="text/javascript">
$(function () {
    var d1 = [];
	
	d1.push([${user.getReputationPoint(0).timestamp}, ${user.getReputationPoint(0).repvalue}]);
   	d1.push([${user.getReputationPoint(1).timestamp}, ${user.getReputationPoint(1).repvalue}]);
   	d1.push([${user.getReputationPoint(2).timestamp}, ${user.getReputationPoint(2).repvalue}]);
   	d1.push([${user.getReputationPoint(3).timestamp}, ${user.getReputationPoint(3).repvalue}]);
   	d1.push([${user.getReputationPoint(4).timestamp}, ${user.getReputationPoint(4).repvalue}]);
   	d1.push([${user.getReputationPoint(5).timestamp}, ${user.getReputationPoint(5).repvalue}]);
   	d1.push([${user.getReputationPoint(6).timestamp}, ${user.getReputationPoint(6).repvalue}]);
   	d1.push([${user.getReputationPoint(7).timestamp}, ${user.getReputationPoint(7).repvalue}]);
   	d1.push([${user.getReputationPoint(8).timestamp}, ${user.getReputationPoint(8).repvalue}]);
   	d1.push([${user.getReputationPoint(9).timestamp}, ${user.getReputationPoint(9).repvalue}]);
   	d1.push([${user.getReputationPoint(10).timestamp}, ${user.getReputationPoint(10).repvalue}]);
   	d1.push([${user.getReputationPoint(11).timestamp}, ${user.getReputationPoint(11).repvalue}]);
   	d1.push([${user.getReputationPoint(12).timestamp}, ${user.getReputationPoint(12).repvalue}]);
   	d1.push([${user.getReputationPoint(13).timestamp}, ${user.getReputationPoint(13).repvalue}]);
   	d1.push([${user.getReputationPoint(14).timestamp}, ${user.getReputationPoint(14).repvalue}]);
   	d1.push([${user.getReputationPoint(15).timestamp}, ${user.getReputationPoint(15).repvalue}]);
   	d1.push([${user.getReputationPoint(16).timestamp}, ${user.getReputationPoint(16).repvalue}]);
   	d1.push([${user.getReputationPoint(17).timestamp}, ${user.getReputationPoint(17).repvalue}]);
   	d1.push([${user.getReputationPoint(18).timestamp}, ${user.getReputationPoint(18).repvalue}]);
    d1.push([${user.getReputationPoint(19).timestamp}, ${user.getReputationPoint(19).repvalue}]);
    d1.push([${user.getReputationPoint(20).timestamp}, ${user.getReputationPoint(20).repvalue}]);
    d1.push([${user.getReputationPoint(21).timestamp}, ${user.getReputationPoint(21).repvalue}]);
    d1.push([${user.getReputationPoint(22).timestamp}, ${user.getReputationPoint(22).repvalue}]);
    d1.push([${user.getReputationPoint(23).timestamp}, ${user.getReputationPoint(23).repvalue}]);
    d1.push([${user.getReputationPoint(24).timestamp}, ${user.getReputationPoint(24).repvalue}]);
    d1.push([${user.getReputationPoint(25).timestamp}, ${user.getReputationPoint(25).repvalue}]);
    d1.push([${user.getReputationPoint(26).timestamp}, ${user.getReputationPoint(26).repvalue}]);
    d1.push([${user.getReputationPoint(27).timestamp}, ${user.getReputationPoint(27).repvalue}]);
    d1.push([${user.getReputationPoint(28).timestamp}, ${user.getReputationPoint(28).repvalue}]);
    d1.push([${user.getReputationPoint(29).timestamp}, ${user.getReputationPoint(29).repvalue}]);
    d1.push([${user.getReputationPoint(30).timestamp}, ${user.getReputationPoint(30).repvalue}]);
    d1.push([${user.getReputationPoint(31).timestamp}, ${user.getReputationPoint(31).repvalue}]);
    
    $.plot($("#graphcanvas"), [ d1]);
});
</script>
