#{extends 'profileMain.html' /}
#{set title:'My questions' /}

#{list items:questions, as:'question'}
	<div class="question">
		<div class="voting">
			<div class="vote-curr">
				${question.voting()}
			</div>
		</div>
		<div id="question-author" class="author">
			<div class="buttons" id="question-buttons">
				#{secure.check 'user'}
					#{ifnot question.hasBestAnswer}
						<a class="button" href="@{Users.writeComment(question.id, question.id)}">comment</a>
						<a class="button" href="@{Users.showEdit(question.id, question.historys.size()-1)}">edit</a>
						<a class="button" href="@{Users.quote(question.id)}">quote</a>
					#{/ifnot}
				#{/secure.check}
			</div>
			<div class="question-date">
				${question.getDate()}
			</div>
			<div id="userImg"> <img src="${question.author.avatarPath}"/></div>
			<a class="button" href="@{Users.showProfile(question.author.id)}">${question.author.fullname} (${question.author.rating})</a>
		</div>
		<div class="question-main">
			<div class="question-title">
				<a class="button" href="@{Application.show(question.id)}">${question.getTitle()}</a>
			</div>
			<div class="content" id="question-content">
				${question.content.raw()}
			</div>
			<div class="question-tag">
				#{if !question.tags.isEmpty()}
					#{list items:question.tags, as:'tag'}
			   			<a class="button" href="@{Application.tagged(tag)}">${tag.getName()}</a>
					#{/list}
				#{/if}
			</div>
			<div class="attachment" id="question-attachment">
				#{if question.attachmentPath != null}
					<a class="button" href="${question.attachmentPath}">
						<img src="@{'/public/images/file.gif'}"/>
						Attachment
					</a>
				#{/if}
			</div>
			<div class="question-metadata">
				(Number of answers: ${question.answers.size()} | Number of comments: ${question.comments.size()})
			</div>
		</div>
	</div>
#{/list}