#{extends 'main.html' /}
#{set title:'User Profile' /}

    	<p>
        	<label for="author">Your fullname: </label>
        	<input type="text" fullname="author" id="user" value="${models.User.find("byEmail", controllers.Security.connected()).first().fullname}" readonly/>
    	</p>
    	<p>
        	<label for="author">Your email: </label>
        	<input type="text" email="author" id="user" value="${models.User.find("byEmail", controllers.Security.connected()).first().email}" />
    	</p>
   	 	<p>
        	<label for="author">Your website: </label>
        	<input type="text" email="author" id="user" value="${models.User.find("byEmail", controllers.Security.connected()).first().website}" />
    	</p>
       	 <p>
        	<label for="author">Your work: </label>
        	<input type="text" email="author" id="user" value="${models.User.find("byEmail", controllers.Security.connected()).first().work}" />
    	</p>	
    	 <p>
        	<label for="author">Programming Languages: </label>
        	<input type="text" email="author" id="user" value="${models.User.find("byEmail", controllers.Security.connected()).first().favoriteLanguages}" />
    	</p>	
		<p>
        	<label for="author">About me: </label>
        	<br>
        	<textarea name="aboutMe" id="aboutMe" value="${models.User.find("byEmail", controllers.Security.connected()).first().aboutMe}></textarea>
    	</p>	




#{if flash.success}
	<br>
    <p class="success">${flash.success}</p>
#{/if}