#{extends 'main.html' /}
#{set title:'User Profile' /}

#{secure.check 'user'}
<div class="form" id="userForm">
#{form @Users.changeProfile()}
<p>
        <label for="author">Fullname: </label>
        <input type="text" fullname="author" id="user" value="${models.User.find("byEmail", controllers.Security.connected()).first().fullname}" readonly/>
    </p>
    
<p>
        <label for="author">Email: </label>
        <input type="text" fullname="author" id="user" value="${models.User.find("byEmail", controllers.Security.connected()).first().email}" readonly/>
    </p>
   
    <p>
     #{field 'birthday'}
         <label for="author">Birthday: </label>
         <input type="text" name="${field.name}" email="author" id="user" value="${models.User.find("byEmail", controllers.Security.connected()).first().getBirthday()}" />
         <label for="content"></label>
#{/field}
</p>

<p>
        <label for="author">Age: </label>
        <input type="text" fullname="author" id="user" value="${models.User.find("byEmail", controllers.Security.connected()).first().calculateAge()}" readonly/>
    </p>

    <p>
     #{field 'website'}
         <label for="author">Website: </label>
         <input type="text" name="${field.name}" email="author" id="user" value="${models.User.find("byEmail", controllers.Security.connected()).first().website}" />
         <label for="content"></label>
#{/field}
</p>
    <p>
     #{field 'work'}
         <label for="author">Work: </label>
         <input type="text" name="${field.name}" email="author" id="user" value="${models.User.find("byEmail", controllers.Security.connected()).first().work}" />
         <label for="content"></label>
#{/field}
</p>
<p>
     #{field 'languages'}
         <label for="author">Programming Languages: </label>
         <input type="text" name="${field.name}" email="author" id="user" value="${models.User.find("byEmail", controllers.Security.connected()).first().favoriteLanguages}" />
         <label for="content"></label>
#{/field}
</p>
<p>
#{field 'aboutMe'}
<label for="aboutMe">About Me: </label>
<br>
<textarea name="${field.name}" cols="50" rows="10">${models.User.find("byEmail", controllers.Security.connected()).first().aboutMe}</textarea>
</br>
#{/field}
</p>
    <p>
     #{field 'avatarURL'}
         <label for="author">Avatar URL: </label>
         <input type="text" name="${field.name}" email="author" id="user" />
         <label for="content"></label>
#{/field}
</p>

<p><input type="submit" value="Update"/></p>

#{/form}
</div>
#{/ secure.check}

<p>
 <label>Recent posts: </label>
</p>

#{if flash.success}
<br>
    <p class="success">${flash.success}</p>
#{/if}