#{extends 'main.html' /}
#{set title:'show profile' /}

#{secure.check 'user'}
<div class="form" id="userForm">
	
	
	<p>
        #{if found}
        	#{if !users.isEmpty()}
        		found in user
        		#{list items:users, as:'user'}
        			<p>
        			<a href = "@{Users.showProfile(user.id)}">${user.fullname}</a>
        			</p>
        		#{/list}
        	#{/if}
        	#{ifnot postscont.isEmpty() && poststitl.isEmpty()}
        		found in knowledgebase
        		#{list items:postscont, as:'post'}
        			#{if post.checkInstance()}
        			<p>
        			<a href = "@{Application.show(post.id)}">${post.content}</a>
        			</p>
        			#{/if}
        			#{else}
        			<p>
        			<a href = "@{Application.show(post.question.id)}">${post.content}</a>
        			</p>
        			#{/else}
        		#{/list}
        		#{list items:poststitl, as:'post'}
        			<p>
        			<a href = "@{Application.show(post.id)}">${post.title}</a>
        			</p>
        		#{/list}
        	#{/ifnot}
        	#{if !tags.isEmpty()}
        		found by tags
        		#{list items:tags, as:'tag'}
        			<p>
   					<a href="@{Application.tagged(tag)}">${tag}</a>${tag_isLast ? '' : ', '}
   					</p>
				#{/list}
			#{/if}
        #{/if}
        
        #{if !found}
        	${message}
        #{/if}
    </p>
</div>
#{/ secure.check}