#{extends 'main.html' /}
#{set title:'show profile' /}

#{secure.check 'user'}
<div class="question">
	
	<h4>you are looking for ${toSearch}</h4>
	
	<div class="answers">
        #{if found}
        	#{if !users.isEmpty()}
        		found in user
        		#{list items:users, as:'user'}
        			<div class="answer">
        			<a href = "@{Users.showProfile(user.id)}">${user.username} (${user.rating})</a>
        			</div>
        		#{/list}
        	#{/if}
        	#{ifnot postscont.isEmpty() && poststitl.isEmpty()}
        		#{list items:postscont, as:'post'}
        					#{if post.isQuestion()}
								<div class="answer">in question <a class="button" href = "@{Application.show(post.id)}">${post.getTitle()}</a> (${post.getDate()}).</div>
							#{/if}
							#{if post.isAnswer()}
								<div class="answer">in answer to the<a class="button" href = "@{Application.show(post.findQuestion().id)}">question</a> ${post.findQuestion().title} (${post.getDate()}).</div>
							#{/if}
							#{if post.isCommentAnswer()}
								<div class="answer">in the comment to the <a class="button" href = "@{Application.show(post.post.findQuestion().id)}">question</a> ${post.post.findQuestion().title}  (${post.getDate()}).</div>
									
							#{/if}
							#{if post.isCommentQuestion()}
								<div class="answer">in a comment to an answer for the <a class="button" href = "@{Application.show(post.post.id)}">question</a> ${post.post.title} (${post.getDate()}).</div>
							#{/if}
        		#{/list}
        	#{/ifnot}
        	#{if !tags.isEmpty()}
        		found by tags
        		#{list items:tags, as:'tag'}
        			<div class="answer">
   					<a href="@{Application.tagged(tag)}">${tag}</a>${tag_isLast ? '' : ', '}
   					</div>
				#{/list}
			#{/if}
        #{/if}
        
        #{if !found}
        	${message}
        #{/if}
    </div>
</div>
#{/ secure.check}