#{extends 'main.html' /}
#{set title:'show profile' /}
#{script 'userprofile.js' /}

<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/tabMenu.css'}">
<script type="text/javascript">
  $(document).ready(function() {
    $(".tabLink").each(function(){
      $(this).click(function(){
        tabeId = $(this).attr('id');
        $(".tabLink").removeClass("activeLink");
        $(this).addClass("activeLink");
        $(".tabcontent").addClass("hide");
        $("#"+tabeId+"-1").removeClass("hide")   
        return false;	  
      });
    });  
  });
</script>


#{secure.check 'user'}

<div class="tab-box">
	<a href="javascript:;" class="tabLink activeLink" id="cont-2">&{'profile.userActivities'}</a>  
    <a href="javascript:;" class="tabLink " id="cont-1">&{'profile.userInfo'}</a> 
    <a href="javascript:;" class="tabLink " id="cont-3">&{'profile.userBadges'}</a> 
</div>


<div class="tabcontent paddingAll hide" id="cont-1-1">
<div id="userProfile">
	<div id="userImg">
    	<img src="${userToShow.avatarPath}"/>
	</div>
	
	<h3>You are on ${userToShow.username}'s profile
	#{if !user.isFollowing(userToShow)}
		<a href="@{Users.followUser(userToShow.id)}">&{'follow'}</a>
	#{/if}
	#{else}
		<a href="@{Users.unfollowUser(userToShow.id)}">&{'unfollow'}</a>
	#{/else}
	#{if user.isAdmin}
		<a href="@{Users.deleteUser(userToShow.id)}">&{'delete'}</a>
	#{/if}
	</h3>
	
	<div>
		<label for="author">&{'username'}: </label>
   	 	<div class="userInfo"> 
    		${userToShow.username}
		</div>		
		
		<label for="author">&{'profile.email'}: </label>
		<div class="userInfo">
			${userToShow.email}
   		</div>
   		
   		<label for="author">&{'fullname'}: </label>
   	 	<div class="userInfo"> 
    		${userToShow.fullname}
		</div>		
   	
   		<label for="author">&{'profile.birthday'}: </label>
   		<div class="userInfo">
			${userToShow.getBirthday()}
    	</div>
    	
    	<label for="author">&{'profile.age'}: </label>
    	<div class="userInfo">
    		${userToShow.calculateAge()}
		</div>
		
		<label for="author">&{'profile.website'}: </label>
		<div class="userInfo">
			${userToShow.website}
		</div>
		
		<label for="author">&{'profile.work'}: </label>
    	<div class="userInfo">	
			${userToShow.work}	
   	 	</div>
   	 	
		<label for="author">&{'profile.programmingLanguages'}: </label>
		<div class="userInfo">
			${userToShow.favoriteLanguages}
		</div>
		
		<label for="aboutMe">&{'profile.about'}: </label>
		<div class="userInfo">
			${userToShow.aboutMe}
		</div>
	</div>
	
</div>
</div>

<div class="tabcontent paddingAll" id="cont-2-1">
<div id="userProfile">

	<h3>&{'activities'}</h3>
			#{list items:activities, as:'activity'}
				<div class="activity">
						#{activity activity:activity /}
				</div>
     #{/list}
     
    	<h3>&{'repGraph'}</h3>

		<script type="text/javascript">
			var userid = ${userToShow.id};
			var graphData = #{jsAction @Users.getGraphData(':id') /};
		</script>

	<div id="graph">
		<div id="graphcanvas" style="width:600px;height:300px"></div>
	</div>
	
</div>	
</div>	
	
<div class="tabcontent paddingAll hide" id="cont-3-1">
<div id="userProfile">
	
	<h3>&{'profile.hoh'}</h3>
	
	#{list items:badges, as:'badge'}	
		
		#{if badge.bronze}
			<div class="badge-bronze">
				<a class="button" href="@{Application.tagged(badge.tag)}">${badge}</a>
			</div>
		#{/if}		
		#{if badge.silver}
			<div class="badge-silver">
				<a class="button" href="@{Application.tagged(badge.tag)}">${badge}</a>
			</div>
		#{/if}
		#{if badge.gold}
			<div class="badge-gold">
				<a class="button" href="@{Application.tagged(badge.tag)}">${badge}</a>
			</div>
		#{/if}
	#{/list}
</div>
</div>


#{/ secure.check}
