#{extends 'main.html' /}
#{set title:'show profile' /}
#{script 'userprofile.js' /}

#{secure.check 'user'}

<div id="userProfile">
	<div id="userImg">
    	<img src="${userToShow.avatarPath}"/>
	</div>
	
	<h3>You are on ${userToShow.username}'s profile
	#{if !user.isFollowing(userToShow)}
		<a href="@{Users.followUser(userToShow.id)}">&{'follow'}</a>
	#{/if}
	#{else}
		<a href="@{Users.unfollowUser(userToShow.id)}">&{'unfollow'}</a>
	#{/else}
	</h3>
	
	<div>
		<label for="author">&{'username'}: </label>
   	 	<div class="userInfo"> 
    		${userToShow.username}
		</div>		
		
		<label for="author">&{'email'}: </label>
		<div class="userInfo">
			${userToShow.email}
   		</div>
   		
   		<label for="author">&{'fullname'}: </label>
   	 	<div class="userInfo"> 
    		${userToShow.fullname}
		</div>		
   	
   		<label for="author">&{'birthday'}: </label>
   		<div class="userInfo">
			${userToShow.getBirthday()}
    	</div>
    	
    	<label for="author">&{'age'}: </label>
    	<div class="userInfo">
    		${userToShow.calculateAge()}
		</div>
		
		<label for="author">&{'website'}: </label>
		<div class="userInfo">
			${userToShow.website}
		</div>
		
		<label for="author">&{'work'}: </label>
    	<div class="userInfo">	
			${userToShow.work}	
   	 	</div>
   	 	
		<label for="author">&{'programmingLanguages'}: </label>
		<div class="userInfo">
			${userToShow.favoriteLanguages}
		</div>
		
		<label for="aboutMe">&{'about'}: </label>
		<div class="userInfo">
			${userToShow.aboutMe}
		</div>
	</div>
	
	<h3>&{'activities'}</h3>
			#{list items:activities, as:'activity'}
				<div class="activity">
						#{activity activity:activity /}
				</div>
     #{/list}
     
    	<h3>&{'repGraph'}</h3>

		<script type="text/javascript">
			var userid = ${userToShow.id};
			var graphData = #{jsAction @Users.getGraphData(':id') /};
		</script>

	<div id="graph">
		<div id="graphcanvas" style="width:600px;height:300px"></div>
	</div>
</div>
#{/ secure.check}
