#{extends 'main.html' /}
#{set title:'show profile' /}

#{secure.check 'user'}

<div id="userProfile">
	<div id="userImg">
    	<img src="${user.avatarPath}" width="62" height="62"/>
	</div>
	
	<h3>You are on ${user.fullname}'s profile, <a href="@{Users.followUser(user.id)}">follow him</a></h3>
	
	<div>
		<label for="author">Fullname: </label>
   	 	<div class="userInfo"> 
    		${user.fullname}
		</div>		
		
		<label for="author">Email: </label>
		<div class="userInfo">
			${user.email}
   		</div>
   	
   		<label for="author">Birthday: </label>
   		<div class="userInfo">
			${user.getBirthday()}
    	</div>
    	
    	<label for="author">Age: </label>
    	<div class="userInfo">
    		${user.calculateAge()}
		</div>
		
		<label for="author">Website: </label>
		<div class="userInfo">
			${user.website}
		</div>
		
		<label for="author">Work: </label>
    	<div class="userInfo">	
			${user.work}	
   	 	</div>
   	 	
		<label for="author">Programming Languages: </label>
		<div class="userInfo">
			${user.favoriteLanguages}
		</div>
		
		<label for="aboutMe">About Me: </label>
		<div class="userInfo">
			${user.aboutMe}
		</div>
	</div>
	
	<h3>Activities</h3>
			#{list items:activities, as:'activity'}
				<div class="activity">
					#{if activity.checkInstance()}
						${activity.timestamp}, ${user.fullname} wrote a new <a href = "@{Application.show(activity.id)}">question</a>.
					#{/if}
					#{else}
					 ${activity.timestamp}, ${user.fullname} wrote a answer to the  <a href = "@{Application.show(activity.question.id)}"> question</a> from ${activity.author.fullname}
					#{/else}
				</div>
     #{/list}
</div>
#{/ secure.check}
