#{extends 'main.html' /}
#{set title:'User administration' /}

<div class="form" id="questionForm">
	#{form @Users.editPost(post.id)}
		<table style="padding-left: 60px">
			
			#{ifErrors}
    			<p class="error">
    				@{Users.myQuestions()}
    			</p>
 			#{/ifErrors}
 			
		<div class="textarea">
			#{field 'content'}
				<label for="content"></label>
				<textarea name="${field.name}">${post.historys.get(editionIndex).content}</textarea>
			#{/field}	
		</div>
		<tr>
		
			<td><input type="submit" value="save edits"/></td>
		
	#{/form}
	
			<td>
				#{form @Users.deletePost(post.id)}
					<input type="submit" value="delete post"/>
				#{/form}
			</td>

			<td>
				#{form @Users.previousEdition(post.id, editionIndex)}
					<input type="submit" value="<<"/>
				#{/form}
			</td>
		
			<td>
				#{form @Users.nextEdition(post.id, editionIndex)}
					<input type="submit" value=">>"/>
				#{/form}
			</td>
		</tr>
		</table>

	#{if post.isQuestion()}
		#{form @Users.tagQuestion(post.id)}
			#{ifErrors}
    			<p class="error">
    				@{Users.myQuestions()}
    			</p>
 			#{/ifErrors}
	
			#{field 'name'}
				<label for="name">Add tags, separated by commas:</label>
				<input type="text" name="name" id="name"/>
			#{/field}
	
			<input type="submit" value="tag"/>
	
		#{/form}

		#{if !post.tags.isEmpty()}
			<br>		
				Actual tags for this question:
				#{list items:post.tags, as:'tag'}
   					<a href="@{Application.tagged(tag)}">${tag}</a>${tag_isLast ? '' : ', '}
				#{/list}
			<br>
		#{/if}
	
	#{/if}
	
</div>
		