#{extends 'main.html' /}
#{set title:'User administration' /}

<div class="form" id="questionForm">
	#{form @Users.editPost(post.id)}
		<table style="padding-left: 60px">
 			
		<div class="textarea">
			#{field 'content'}
				<label for="content"></label>
				<textarea name="${field.name}">${post.historys.get(editionIndex).content}</textarea>
			#{/field}	
		</div>
		<tr>
		
			<td><input type="submit" value="&{'post.saveEdits'}"/></td>
		
	#{/form}
	
			<td>
				#{form @Users.deletePost(post.id)}
					<input type="submit" value="&{'post.delete'}"/>
				#{/form}
			</td>

			<td>
				#{form @Users.previousEdition(post.id, editionIndex)}
					<input type="submit" value="&lt;&lt;"/>
				#{/form}
			</td>
		
			<td>
				#{form @Users.nextEdition(post.id, editionIndex)}
					<input type="submit" value="&gt;&gt;"/>
				#{/form}
			</td>
		</tr>
		</table>

	#{if post.isQuestion()}
		#{form @Users.tagQuestion(post.id)}
	
			#{field 'name'}
				<label for="name">&{'tags'}:</label>
				<input type="text" name="name" id="name"/>
			#{/field}
	
			<input type="submit" value="tag"/>
	
		#{/form}

		#{if !post.tags.isEmpty()}
		<div class="question-tag">
			<br>		
				Actual tags for this question:
				#{list items:post.tags, as:'tag'}
   					<a class="button" href="@{Application.tagged(tag)}">${tag.getName()}</a>
				#{/list}
			<br>
		</div>
		#{/if}
	
	#{/if}
	
</div>
		