#{extends 'main.html' /}
#{set title:'User administration' /}

<div class="editing">
#{form @Users.editPost(post.id)}

	#{ifErrors}
    	<p class="error">
    		@{Users.myQuestions()}
    	</p>
 	#{/ifErrors}

	<p>
	<div class="textarea">
		
		
		#{field 'content'}
		<label for="content"></label>
		#{if editionIndex == 0}
			<textarea name="${field.name}" cols="50" rows="10">${post.content}</textarea>
		#{/if}
		
		
		#{else}
			<textarea name="${field.name}" cols="50" rows="10">${post.historys.get(editionIndex).content}</textarea>
		#{/else}
		#{/field}
			
	</div>
	
	<p>
	<table>
	<tr>
		<td>
			<input type="submit" value="Edit"/>
		</td>
		
#{/form}

		<td>
		#{form @Users.deletePost(post.id)}
			<input type="submit" value="Delete"/>
		#{/form}
		</td>

		<td>
		#{form @Users.previousEdition(post.id, editionIndex)}
			<input type="submit" value="<<"/>
		#{/form}
		</td>
		
		<td>
		#{form @Users.nextEdition(post.id, editionIndex)}
			<input type="submit" value=">>"/>
		#{/form}
		</td>
	</tr>
	</table>
	
</div>
		