#{extends 'main.html' /} 
#{set title:'Show question' /} 




<div class="post">
	Post:
    <div class="metadata">
        <span class="post-author">by ${post.author.username}</span>
        <span class="post-date">${post.timestamp}</span>
        <span class="post-voting"> Voting: ${post.voting}</span>
    </div>
    <div class="content">
    	<br>
    	${post.content.raw()}
    </div>
</div>



<p><br></p>
#{secure.check 'user'}
<div class="form" id="commentForm">
	#{form @Users.createComment(post.id, questionid)}
		#{ifErrors}
    	   	<p class="error">
       	    	All fields are required!
      	  	</p>
 	    #{/ifErrors}
    		<p>
					<input type="hidden" name="author" id="user" value="${user.username}" readonly/>
			</p>
    		<p>
        		<label for="content">Your comment: </label>
        		<br>
        		<textarea name="content" id="content"></textarea>
    		</p>
    		<p>
        		<input type="submit" value="Submit your comment" />
    		</p>
	#{/form}
</div>
#{/ secure.check}

