<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="${lang}" lang="${lang}">
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}" />
    </head>
	<body id="crud">
		
		<div id="crudHeader">
			<h1><a href="@{CRUD.index()}">&{'crud.title'}</a></h1>
		</div>
		
		#{if request.actionMethod != 'index'}
			<div id="crudBreadcrumb">
				#{crud.navigation /}
			</div>
		#{/if}

		#{if flash.success}
			<div class="crudFlash flashSuccess">
				${flash.success}
			</div>
		#{/if}
		#{if flash.error || error}
			<div class="crudFlash flashError">
				${error ?: flash.error}
			</div>
		#{/if}
		
		<div id="crudContent">
			#{doLayout /}
		</div>
		
		<div id="import">
			<label> Import XML:
			<form action="@{Admin.importXML()}" method="POST" enctype="multipart/form-data">
				<table style="padding-left: 10px">
				<input type="file" id="xml" name="xml" />
				<input type="submit" value="Import" />
			</table>
			</form> 
		</div>
		
		<br>
		<div id="spams">
			<label> Show all Spams:</label>
			<table style="padding-left: 10px">
				<a class="button" href="@{Admin.showSpams()}">Spams</a>
			</table>
		</div>
		<br>
		<div id="spamer">
			<label> Show all Spamer:</label>
			<table style="padding-left: 10px">
				<a class="button" href="@{Admin.showSpamer()}">Spamer</a>
			</table>
		</div>
		<br>
		<a class="button" href="@{Application.index()}">Back to A4Q</a>
		
	</body>
</html>
