#{extends 'main.html' /}
#{set title:'Create user' /}
 

<h2 style="font-size:100%">fill the formular and get knowledge</h2>

<h3>${message}</h3>

<div class="form">
#{form @Application.addUser()}
<div>Name:<br><input type="text" name="fullname", id="fullname"></div>
<div>E-Mail:<br><input type="text" name="email", id="email"></div>
<div>Password:<br><input type="password" name="password", id="password"></div>
<div>Confirm password:<br><input type="password" name="password2", id="password2"></div>
<div><input type="submit" value="Create User"/></div>
#{/form}
</div>
