#{extends 'main.html' /}
#{set title:'Home' /}

#{if lastActivity}
	<h3>Newest activity:</h3>
   	<div class="form">
		#{if lastActivity.isQuestion()}
			A new question was asked <a class="button" href = "@{Application.show(lastActivity.id)}">${lastActivity.getTitle()}</a> (${lastActivity.getDate()}).
		#{/if}
		#{if lastActivity.isAnswer()}
			A new answer was added to a <a class="button" href = "@{Application.show(lastActivity.findQuestion().id)}">question</a> (${lastActivity.getDate()}).
		#{/if}
		#{if lastActivity.isCommentAnswer()}
			A new comment was added to a answer from the <a class="button" href = "@{Application.show(lastActivity.post.findQuestion().id)}">question</a> ${lastActivity.post.findQuestion().title}  (${lastActivity.getDate()}).
		#{/if}
		#{if lastActivity.isCommentQuestion()}
			A new comment was added to the <a class="button" href = "@{Application.show(lastActivity.post.id)}">question</a> ${lastActivity.post.title} (${lastActivity.getDate()}).
		#{/if}
	</div>
    
	#{if questions.size() > 0}
		<div class="questions"> 
			<h3>All questions on A4Q</h3>
			
			#{list items:questions, as:'question'}
				<div class="question">
					<div class="voting">
						<div class="vote-curr">
							${question.voting()}
						</div>
						#{secure.check 'user'}    
							#{if abletovote && isvalid}
								<div class="vote-up-down">
									<a class="vote-up" href="@{Users.voteForQuestion(question.id, true)}"></a>
									<a class="vote-down" href="@{Users.voteForQuestion(question.id, false)}"></a>
								</div>
							#{/if}
						#{/secure.check}
					</div>
					<div class="question-author">
						<div id="userImg"> <img src="${question.author.avatarPath}" width="62" height="62"/></div>
						<a class="button" href="@{Users.showProfile(question.author.id)}">${question.author.fullname} (${question.author.rating})</a>
						<div class="question-date">
							${question.getDate()}
						</div>
						<div class="buttons" id="question-buttons">
							#{secure.check 'user'}
								#{ifnot question.hasBestAnswer}
									#{if !isfollowing && !abletochoose}
										<a class="button" href="@{Users.followQuestion(question.id)}">
											<span>follow</span>
										</a>
									#{/if}
									#{if isvalid}
										<a class="button" href="@{Users.writeComment(question.id, question.id)}">comment</a>
									#{/if}
									#{if abletochoose}
										<a class="button" href="@{Users.showEdit(question.id, question.historys.size()-1)}">edit</a>
									#{/if}
									<a class="button" href="@{Users.quote(question.id)}">quote</a>
								#{/ifnot}
							#{/secure.check}
						</div>
					</div>
					<div class="question-main">
						<div class="question-title">
							<a class="button" href="@{Application.show(question.id)}">${question.getTitle()}</a>
						</div>
						<div class="content" id="question-content">
							${question.content.raw()}
						</div>
						<div class="question-tag">
							#{if !question.tags.isEmpty()}
								#{list items:question.tags, as:'tag'}
			   						<a class="button" href="@{Application.tagged(tag)}">${tag}</a>
								#{/list}
							#{/if}
						</div>
						<div class="attachment" id="question-attachment">
							#{if question.attachmentPath != null}
								<a class="button" href="${question.attachmentPath}">
									<img src="@{'/public/images/file.gif'}"/>
									Attachment
								</a>
							#{/if}
						</div>
						<div class="question-metadata">
								(Number of answers: ${question.answers.size()} | Number of comments: ${question.comments.size()})
						</div>
					</div>
				</div>
         	#{/list}
    	</div>    
	#{/if}
#{/if}
 
#{else}
    <div class="empty">
        There is currently nothing to answer here.
    </div>
#{/else}


