#{extends 'main.html' /} 
#{set title:'Show question' /} 

<div>
	<h3>&{'view'}</h3>
	<div class="question">
		<div class="voting">
			<div class="vote-curr">
				${question.voting()}
			</div>
			#{secure.check 'user'}    
				#{if abletovote && hasTimeToChange}
					<div class="vote-up-down">
						<a class="vote-up" href="@{Users.vote(question.id, true)}"></a>
						<a class="vote-down" href="@{Users.vote(question.id, false)}"></a>
					</div>
				#{/if}
			#{/secure.check}
		</div>
		<div id="question-author" class="author">
			<div class="buttons" id="question-buttons">
				#{secure.check 'user'}
					#{ifnot question.hasBestAnswer}
						#{if !isfollowing}
							<a class="button" href="@{Users.followQuestion(question.id)}">
								<span>&{'follow'}</span>
							</a>
						#{/if}
						#{else}
							<a class="button" href="@{Users.unfollowQuestion(question.id)}">
								<span>&{'unfollow'}</span>
							</a>
						#{/else}
						#{if hasTimeToChange}
							<a class="button" href="@{Users.writeComment(question.id, question.id)}">&{'comment'}</a>
						#{/if}
						#{if question.isOwnPost()}
							<a class="button" href="@{Users.showEdit(question.id, question.historys.size()-1)}">&{'edit'}</a>
						#{/if}
						#{if !question.isOwnPost()}
							<a class="button" href="@{Users.isSpam(question.id)}">&{'spam'}</a>
						#{/if}
						<a class="button" href="@{Users.quote(question.id)}">&{'quote'}</a>
					#{/ifnot}
				#{/secure.check}
			</div>
			<div class="question-date">
				${question.getDate()}
			</div>
			<div id="userImg"><img src="${question.author.avatarPath}"/></div>
			<a class="button" href="@{Users.showProfile(question.author.id)}">${question.author.username} (${question.author.rating})</a>
		</div>
		<div class="question-main">
			<div class="question-title">
				<a class="button" href="@{Application.show(question.id)}">${question.getTitle()}</a>
			</div>
			<div class="content" id="question-content">
				${question.content.raw()}
			</div>
			<div class="question-tag">
				#{if !question.tags.isEmpty()}
					#{list items:question.tags, as:'tag'}
   						<a class="button" href="@{Application.tagged(tag)}">${tag.getName()}</a>
					#{/list}
				#{/if}
			</div>
			<div class="attachment" id="question-attachment">
				#{if question.attachmentPath != null}
					<a class="button" href="${question.attachmentPath}">
						<img src="@{'/public/images/file.gif'}"/>
						Attachment
					</a>
				#{/if}
			</div>
			#{if question.comments.size()>0}
				<div class="comments">
					#{list items: question.comments, as:'comment'}
						<div class="comment">
							<div class="comment-author">
								<a class="button" href="@{Users.showProfile(comment.author.id)}">${comment.author.username} (${comment.author.rating})</a>
								<div class="comment-date">
									${comment.getDate()}
								</div>
							</div>
							<div class="comment-content">
								${comment.content.raw()}
							</div>
							<div class="like-unlike">
								<span>
									#{if comment.numberOfLikers()==1}
										${comment.numberOfLikers()} user likes this comment.
									#{/if}
									#{else}
										${comment.numberOfLikers()} users like this comment.
									#{/else}
								</span>
								#{secure.check 'user'}
									#{if !comment.isOwnPost()}
										#{if !user.alreadyLikesComment(comment.id)}
											<a class="like" href="@{Users.likeComment(comment.id, true)}"></a>
										#{/if}
										#{else}
											<a class="unlike" href="@{Users.likeComment(comment.id, false)}"></a>
										#{/else}
									#{/if}
								#{/secure.check}
							</div>
						</div>
					#{/list}
				</div>
			#{/if}
			<div class="question-answer">
				#{if question.answers.size() < 1}
					<div class="answers">
						&{'noAnswer'}
					</div>
				#{/if}
				#{else}
					<div class="answers">
						#{list items:question.answers, as:'answer'}
							<div class="answer">
								#{if answer.isSpam()}
									<div class="spam">
								#{/if}
								<div class="voting">
									#{if answer.isBestAnswer}
										<div class="vote-curr-best">
											${answer.voting()}
										</div>
									#{/if}
									#{else}
										<div class="vote-curr">
											${answer.voting()}
										</div>
									#{/else}
									#{secure.check 'user'}    
										#{if hasTimeToChange && answer.isAbleToVoteAnswer(user)}
						         			<div class="vote-up-down">
												<a class="vote-up" href="@{Users.vote(answer.id, true)}"></a>
												<a class="vote-down" href="@{Users.vote(answer.id, false)}"></a>
											</div>
										#{/if}
									#{/secure.check}
								</div>
								<div id="answer-author" class="author">
									<div class="buttons" id="question-buttons">
										#{secure.check 'user'}
											#{if answer.isBestAnswer}
												&{'bestAText'}
											#{/if}
											#{ifnot question.hasBestAnswer}
												#{if hasTimeToChange}
													<a class="button" href="@{Users.writeComment(answer.id, question.id)}">&{'comment'}</a>
													#{if answer.isOwnPost()}
														<a class="button" href="@{Users.showEdit(answer.id, answer.historys.size()-1)}">&{'edit'}</a>
													#{/if}
													#{if question.isOwnPost() && !answer.isBestAnswer && !answer.isOwnPost()}
														<a class="button" href="@{Users.chooseBestAnswer(answer.id)}">&{'bestA'}</a>													
													#{/if}
													#{if !answer.isOwnPost()}
														<a class="button" href="@{Users.isSpam(answer.id)}">&{'spam'}</a>
													#{/if}
													<a class="button" href="@{Users.quote(answer.id)}">&{'quote'}</a>
												#{/if}
											#{/ifnot}
											#{if question.isOwnPost() && (answer.isBestAnswer || question.hasBestAnswer)}
														<a class="button" href="@{Users.notBestAnswer(question.id)}">&{'notbestA'}</a>													
											#{/if}
										#{/secure.check}
									</div>
									<div class="answer-date">
										${answer.getDate()}
									</div>
									<div id="userImg"><img src="${answer.author.avatarPath}"/></div>
									<a class="button" href="@{Users.showProfile(answer.author.id)}">${answer.author.username} (${answer.author.rating})</a>
								</div>
								<div class="content" id="answer-content">
						         	${answer.content.raw()}
						    	</div>
								<div class="attachment" id="answer-attachment">
									#{if answer.attachmentPath != null}
										<a class="button" href="${answer.attachmentPath}">
											<img src="@{'/public/images/file.gif'}"/>
											Attachment
										</a>
									#{/if}
								</div>
							#{if answer.comments.size()>0}
								<div class="comments">
									Comments to this answer:
									#{list items: answer.comments, as:'comment'}
										<div class="comment">
											<div class="comment-author">
												<a class="button" href="@{Users.showProfile(comment.author.id)}">${comment.author.username} (${comment.author.rating})</a>
												<div class="comment-date">
													${comment.getDate()}
												</div>
											</div>
											<div class="comment-content">
												${comment.content.raw()}
											</div>
											<div class="like-unlike">
												<span>
													#{if comment.numberOfLikers()==1}
														${comment.numberOfLikers()} user likes this comment.
													#{/if}
													#{else}
														${comment.numberOfLikers()} users like this comment.
													#{/else}
												</span>
												#{secure.check 'user'}
													#{if !comment.isOwnPost()}
														#{if !user.alreadyLikesComment(comment.id)}
															<a class="like" href="@{Users.likeComment(comment.id, true)}"></a>
														#{/if}
														#{else}
															<a class="unlike" href="@{Users.likeComment(comment.id, false)}"></a>
														#{/else}
													#{/if}
												#{/secure.check}
											</div>
										</div>
									#{/list}
								</div>
							#{/if}
							#{if answer.isSpam()}
								</div>
							#{/if}
						</div>
				#{/list}
			</div>
		#{/else}
	</div>
</div>
</div>
</div>

#{secure.check 'user'}
	#{if hasTimeToChange && !isSpam}
		<div class="form" id="answerForm">
			<form action="@{Users.answerQuestion(question.id)}" method="POST" enctype="multipart/form-data">
				<table style="padding-left: 60px">
				#{ifErrors}
    	   			<p class="error">
       	   				All fields are required!
      	  			</p>
 	   			#{/ifErrors}
    			<input type="hidden" name="author" id="author" value="${user.username}" readonly/>
    			<p>
        			<label for="content">&{'yourAnswer'}: </label>
        		</p>
        		<br>
        		<textarea name="content">${user.getQuotedContent()}</textarea>
				<p>
					<input type="file" id="attachment" name="attachment" />
    			</p>
    			<p>
        		#{if canPost}	
					<input type="submit" value="&{'submitA'}" />
				#{/if}
				#{if !canPost}
					&{'wait'} ${user.timeToNextPost()} s
				#{/if}
    			</p>
				</table>
			</form> 
		</div>
	#{/if}
#{/ secure.check}
