#{extends 'main.html' /} 
#{set title:'LogIn' /} 

<div id="loginCont">
	<div id="register" class="form">
	
		#{if flash.error}
		<p class="error">
			&{flash.error}
		</p>
		#{/if}
		
		<p><h3>${message}</h3></p>
		
		<h2>&{'register.title'}</h2>
		<h3>&{'register.subtitle'}</h3>
		
		#{form @Application.addUser()}
			<label>&{'register.name'}:</label>
			<div><input type="text" name="fullname", id="fullname"></div>
			
			<label>&{'register.email'}:</label>
			<div><input type="text" name="email", id="email"></div>
			
			<label>&{'register.password1'}:</label>
			<div><input type="password" name="password", id="password"></div>
			
			<label>&{'register.password2'}:</label>
			<div><input type="password" name="password2", id="password2"></div>
			
			<div><input type="submit" value="Create User"/></div>
		#{/form}
	</div>
</div>