#{extends 'admin.html' /}
#{set title:'User Profile' /}


#{secure.check 'user'}
	#{form @Users.createQuestion()}
		#{ifErrors}
    	   	<p class="error">
       	   		All fields are required!
      	  	</p>
 	   	#{/ifErrors}
    	<p>
        	<label for="author">Your fullname: </label>
        	<input type="text" fullname="author" id="user" value="${models.User.find("byEmail", controllers.Security.connected()).first().fullname}" readonly/>
    	</p>
    	<p>
        	<label for="author">Your email: </label>
        	<input type="text" email="author" id="user" value="${models.User.find("byEmail", controllers.Security.connected()).first().email}" readonly/>
    	</p>
    	<p>
        	<label for="author">Your website: </label>
        	<input type="text" email="author" id="user" value="${models.User.find("byEmail", controllers.Security.connected()).first().email}" readonly/>
    	</p>
	#{/form}
#{/ secure.check}

#{if flash.success}
	<br>
    <p class="success">${flash.success}</p>
#{/if}