/** Main layout **/

html, body {
    background: #FFF !important;
    font-family: Arial !important;
    font-size: 16px;
	margin: 0;
	height: 100%;
}

#main {
	width: 1150px;
    height: 100%;
	padding: 0;
    margin: 0 auto;
	font-weight: lighter;
	position: relativ;
}

#main-left {
	background: #9CF;
    width: 850px;
	min-height: 100%;
	padding: 0;
    text-align: left;
	overflow: hidden;
}

#main-right {
	float:right;
}

/** Menu **/
#menu {
    padding: 20px;
}

#menu .button {
	background: #090;
	padding: 0px 10px 0px 10px;
	margin: 0px 0px 0px 4px;
}
	
/** User info **/
#user {
	background: #69F;
	float: right;
	padding: 10px;
    margin: 20px;
	width: 250px;
	-webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

#userImg {
	width: 62;
	height: 62;
	float: right;
	margin: 0px 0px 0px 10px;
}

#userProfile {
	background: #69F;
	padding: 20px 20px 20px 20px;
    margin: 20px 0px 20px 0px;
	-webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

.userInfo {
	background: #9CF;
	padding: 5px 10px 5px 10px;
    margin: 10px 0px 10px 0px;	
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

#userActivity {
	background: #9CF;
	padding: 10px;
    margin: 20px;
	width: 250px;
	-webkit-border-radius: 16px;
    -moz-border-radius: 16px;	
	
}

/** Search **/
#search {
	margin: 0px;
	float: right;
}


/** Content **/

#content {
	margin: 0px 20px 0px 20px;
	clear: right;
	overflow: hidden;
}

/** Links **/
a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.button {
	color: #FFF;
	display: inline;
}

.button:hover {
	color: #36F;
}

.button#log {
	float: right;	
}
	

/** Questions **/

.question {
	background: #69F;
	padding: 20px 20px 20px 20px;
	margin: 20px 0px 20px 0px;
	overflow: hidden;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

.question .author, .answer .author {
	float: right;
	text-align: right;
	margin: 0px 0px 10px 0px;
}

.question-title {
	margin: 0;
	padding: 0;
	font-size: 24px;
}

.question .content {
	background: #FFF;
	margin: 10px 0px 10px 0px;
	padding: 5px;
	clear: right;
}

.question .metadata {
	margin: 10px 0px 10px 0px;
}


#question-buttons {
	clear: right;
}

#question-buttons .button {
	background: #090;
	padding: 0px 10px 0px 10px;
	margin: 0px 0px 0px 4px;
}

/** Text **/
.question p, .question pre, .question ul, .question ol{
	margin: 5px 0;
}

.question strong{
	font-weight: bold;
}

.question blockquote {
	background: #EDEDED;
	padding: 10px;
	margin: 10px;
}

pre {
	white-space: pre-wrap;
}

/** Tags **/
.question-tag {
	margin: 5px 0px 5px 0px;
}

.question-tag .button {
	background: #03F;
	padding: 0px 10px 0px 10px;
	margin: 0px 0px 0px 4px;
}

/** Attachment **/
.attachment {
	margin: 5px 0px 5px 0px;
	padding: 3px;
}

.attachment .button {
	padding: 3px;
	border: 1px;
	border-style: solid;
	border-color: #000;
}

.attachment img {
	width: 16px;
	height: 16px;
	border: 0;
}

/** Answer **/
.answers {
	padding: 0;
}

.answer {
	background: #69F;
	padding: 20px 20px 20px 20px;
	margin: 20px 0px 20px 0px;
	clear: both;
	overflow: hidden;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

.answer .content {
	background: #FFF;
	margin: 10px 0px 10px 0px;
	padding: 5px;
	clear: right;
}

.question .answer {
	background: #9CF;
}

/** Comments **/
.comment {
	background: #FFF;
	padding: 20px 20px 20px 20px;
	margin: 20px 0px 20px 0px;
	clear: both;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

.comment-author {
	float: right;
	text-align: right;
}

.comment-author .button {
	color: #69F;
}

.comment-like {
	font-size: 12px;
	float: left;
	text-align: left;
}

.comment-like .button {
	background: #090;
}

/** Voting **/
.voting {
	float: left;
	display: inline;
	margin: 0px 20px 10px 0px;
	color: #FFF;
    font-size: 24px;
    text-align: center;
}

.vote-curr {
	background: #03F;
	float: left;
	width: 40px;
	line-height: 40px;
	-webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
}

.vote-curr-best {
	background: #090;
	float: left;
	width: 40px;
	line-height: 40px;
	-webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
}

.vote-up-down {
	float: right;
	margin-left: 2px;
}
		
.vote-up {
	background: url("/public/images/voteUp.png");
	width: 19px;
	height: 19px;
	display: block;
	margin-bottom: 2px;
}

.vote-down {
	background: url("/public/images/voteDown.png");
	width: 19px;
	height: 19px;
	display: block;
	margin-top: 2px;
}


/** Profile **/
#tabMenu {
    padding: 20px;
    margin: 0;
    background: #69F;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    text-align: center;
}

#tab {
	display: inline;
	margin: 0px 5px;
	padding: 5px 40px;
	border: 1px;
	border-style: solid;
	border-color: #000000;
}	

/** Follows **/
.follows {
	background: #69F;
	padding: 20px 20px 20px 20px;
	margin: 20px 0px 20px 0px;
	clear: both;
	overflow: hidden;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
	
}

.activity {
		
}

/** Formulars **/
.form {
	background: #69F;
	text-align:justify;
	margin: 20px 0px 20px 0px;
	padding: 20px 20px 20px 20px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

#answerForm p {
	margin: 0;
}

textarea {
	width: 60%;
	height: 30ex;
}

#markDownMenu {
	background: #9CF;
	text-align:justify;
	padding: 20px 20px 20px 20px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

/** Login **/
#mainLogin {
	text-align: center;
	font-size: 12px;
	float: right;
	width: 250px;
	max-height: 100px;
	background: #69F;
	margin: 20px;
	padding: 10px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

#loginInputs {
	display: block;
}

.error {
	color: red;
	background: #9CF;
	padding: 10px 10px 10px 10px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;	
}
