/** Main layout **/

html, body {
    background: #FFF !important;
    font-family: Arial !important;
    font-size: 18px;
	margin: 0;
	height: 100%;
}

#main {
	background: #9CF;
	width: 850px;
    min-height: 100%;
	padding: 0;
    text-align: left;
	margin: 0 auto;
	font-weight: lighter;
	position: relativ;
}

/** Menu **/

#menu {
    padding: 20px;
}

/** User info **/

#user {
	background: #69F;
	float: right;
	padding: 10px 10px 10px 10px;
    margin: 20px 20px;
	width: 180px;
	-webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

#userImg {
	float: right;
}

/** Search **/

#search {
	margin: 20px;
}


/** Content **/

#content {
	margin: 20px;
}

/** Links **/

a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.button {
	color: #FFF;
	display: inline;
}

.button:hover {
	color: #36F;
}

/** Questions **/

.question {
	background: #69F;
	padding: 20px 20px 20px 20px;
	margin: 20px 0px 20px 0px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

.question-author {
	float: right;
	text-align: right;
}

/** Answer **/

.answer {
	background: #9CF;
	padding: 20px 20px 20px 20px;
	margin: 20px 0px 20px 0px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

.answer-author {
	float: right;
	text-align: right;
}

/** Voting **/

.voting {
	float: left;
	display: inline;
	margin: 0px 20px 20px 0px;
	color: #FFF;
    font-size: 24px;
    text-align: center;
}

.vote-curr {
	background: #03F;
	float: left;
	width: 40px;
	line-height: 40px;
	-webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
}

.vote-up-down {
	float: right;
	margin-left: 2px;
}
		
.vote-up {
	background: url("/public/images/voteUp.png");
	width: 19px;
	height: 19px;
	display: block;
	margin-bottom: 2px;
}

.vote-down {
	background: url("/public/images/voteDown.png");
	width: 19px;
	height: 19px;
	display: block;
	margin-top: 2px;
}

/** Formulars **/

.form {
	background: #69F;
	text-align:justify;
	padding: 20px 20px 20px 20px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

/** Login **/
#login {
	float: left;
	width: 42%;
}

#register {
	float: right;
	width: 42%;
}