/** Main layout **/

html, body {
    background: #DDDDDD !important;
    font-family: Helvetica, Arial, Sans !important;
}

/** Links **/

.link {
	font-size: 15px;
	border: 1px;
	border-color: black;
	border-style: solid;
	margin: 3px;
	padding: 2px;
	text-align:justify;
}

.link:hover {
	background: #CCCCCC;
}

/** Questions, Answers **/

.questions {
	
}

.question {
	font-family: Calibri;
		
}

.question:hover {
	background: #CCCCCC;
}

.answers {
	font-family: Calibri;
}


/** Formulars **/

.form {
	border: 1px;
	border-color: black;
	border-style: solid;
	margin: 3px;
	padding: 10px;
	text-align:justify;
}